body {font-family: Arial, sans-serif;}
nav {
	width: 100%;
	height: 60px;
	background: #344051;
	position: fixed;}

.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 388px;
	float: left;}

.menu {
	float: left;
	padding-left: 432px;}

.menu li {
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;}

.main{
	width: 100%;
	height: calc(100% - 60px);
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;}

.title__container{
	float: left;
	margin: 432px 0px 0px 404px;
	color: #2c384a;
	text-align: center;}

.title__container h1{
	font-size: 60px;
	font-weight: bolder;}

.title__container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;}

.title__container input{

	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 50px 14px 0px 14px;}

/*obo mne*/

.titel__obomne {
	width: 100%;
	height: 60%;
	background: url(../img/cherta.png) 47.5% 22%/auto 0.4% no-repeat, url(../img/fon1.jpg) center/cover no-repeat;}

.titel__obomne h3 {
	font-size: 22px;
	padding: 5% 45%; /*110px 50px 30px 855px*/
	color: #3f495a;}
  
.titel__obomne img{
margin: 1% 45%;/*50px 859px 0px 860px*/
border-radius: 30px;}
   

.titel__obomne p {
	text-align: center;
	padding: 0% 25%;/*25px 596px 0px 597px*/
	color: #3f495a;
	font-size: 12px;}

.titel__obomne input {
	height: 22px;
	text-align: center;
	border: 2px solid #6f707e;
	background: none;
	color: #6f707e;
	border-radius: 5px;
	font-size: 13px;
	padding: 0px 16px;
	margin: 3% 45%;}/*40px 0px 82px 845px*/


/* Umeniya */


.titel__umeniya {
	width: 100%;
	height: 50%;
	background: url(../img/cherta2.png) 48.5% 29%/auto 1% no-repeat,url(../img/znak.png) 38.7% 44%/auto no-repeat, url(../img/raketa.png) 61% 44%/auto no-repeat,url(../img/gramafon.png) 83% 44%/auto no-repeat,url(../img/nout.png) 17% 44%/auto no-repeat, url(../img/fon2.jpg) center/cover no-repeat;}

.titel__umeniya h3{
	font-size: 22px;
	padding: 5% 45%;
	/*padding: 90px 50px 30px 845px;*/
	color: #3f495a;
	text-transform: uppercase;}

.titel__umeniya li{
	line-height: 20px;
	float: left;
	margin-left: 15%;
	padding: 70px 0 0 0;
	/*padding: 150px 0px 100px 280px;*/} 

.titel__umeniya li h4 {
	text-align: center;
	font-size: 16px;
	color: #da9944;}

.titel__umeniya li br {
	text-align: center;
	font-size: 12px;
	color: #586170;}


/*Keys*/


.titel__keyse {
	width: 100%;
	height: 100%;
	background: url(../img/cherta.png) 46.3% 13%/auto 0.4% no-repeat, url(../img/foncase.jpg) no-repeat;}

.titel__keyse h3 {
	font-size: 22px;
	padding: 90px 50px 30px 845px;
	color: #3f495a;
	text-transform: uppercase;}

.titel__keyse p {
	text-align: center;
	font-size: 12px;
	color: #586170;}

.opis {
	float: left;
	height: 100px;
	padding: 1%;
}

.titel__keyse img {
	margin:10px 0px 0px 100px ;
}

.ss {
	float: left;
	padding: 1%;
}

.ss h4 {
	padding:5px 0px 0px 300px ;
	font-size: 17px;
	color: #384354;
}

.ss h5 {
	padding:5px 0px 0px 300px ;
	font-size: 17px;
	color: #384354;
}

.vizit {
	margin: 5px 0px 0px 300px;
	font-size: 19px;
	color: #fff;
	background: #63b5ae;
	height: 40px;}

.sa  {
	margin: 1%;
	padding: 1%;
	font-size: 17px;
	color: #384354;}


/*stoimost */


.titel__stoimost {
	width: 100%;
	height: 100%;

}

.titel__stoimost h3 {
	font-size: 22px;
	padding: 90px 50px 30px 830px;
	color: #3f495a;
	text-transform: uppercase;
}

.titel__stoimost ul {
	font-size: 23px;
	padding-left: 500px;
}

.titel__stoimost select {
	font-size: 40px;
	margin: 20px;
}


/* statystic*/


.titel__statistic {
	width: 100%;
	height: 50%;
	background: url(../img/cherta2.png) 48.5% 29%/auto 1% no-repeat, url(../img/smayl.png) 17% 44%/auto no-repeat,url(../img/scobki.png) 38% 44%/auto no-repeat, url(../img/galka.png) 58.9% 44%/auto no-repeat,url(../img/kubok.png) 80% 44%/auto no-repeat,url(../img/fonstatistyc.jpg) no-repeat;}

.titel__statistic h3{
	font-size: 22px;
	padding: 90px 50px 30px 830px;
	color: #3f495a;
	text-transform: uppercase;}

.titel__statistic li{
	line-height: 20px;
	float: left;
	margin-left: 15%;
	padding: 130px 0 0 0;
	/*padding: 150px 0px 100px 280px;*/
} 

.titel__statistic li h4 {
	text-align: center;
	font-size: 26px;
	color: #323e4f;}

.titel__statistic li p {
	text-align: center;
	font-size: 12px;
	color: #323e4f;}


/*otzyv*/


.titel__otziv {
	width: 100%;
	height: 70%;
	background:url(../img/cherta.png) 47.5% 18%/auto 0.4% no-repeat, url(../img/fonotzyv.jpg) no-repeat;}

.titel__otziv h3{
	font-size: 22px;
	/*padding: 90px 50px 30px 830px;*/
	padding: 3% 45%;
	color: #3f495a;
	text-transform: uppercase;}

.titel__otziv img{
	/*margin: 50px 859px 0px 840px;*/
	margin: 3% 45%;
	border-radius: 30px;}

.titel__otziv p {
	text-align: center;
	/*padding: 25px 596px 0px 597px;*/
	padding: 3% 25%;
	color: #3f495a;
	font-size: 12px;}


/*footer*/


footer {
	width: 100%;
	height: 85%;
	background:  url(../img/cherta.png) 47.5% 13%/auto 0.4% no-repeat, url(../img/geo.png) 15.5% 25%/auto no-repeat,url(../img/convert.png) 47.5% 25%/auto no-repeat, url(../img/trubka.png) 80% 25%/auto no-repeat,url(../img/foncontact.jpg);}

.title__contacts {
	color: #fff;}
 
.title__contacts h3{
	font-size: 22px;
	/*padding: 90px 50px 30px 830px;*/
	padding: 3% 43%;
	color: #3f495a;
	text-transform: uppercase;
	color: #fff;}

.title__contacts p {
	text-align: center;
	/*padding: 25px 596px 0px 597px;*/
	padding: 0% 20%;
	font-size: 12px;}

.title__contacts li {
	font-size: 12;
	float: left;
	/*padding: 4% 10%;*/
	margin: 4% 14.8%;
	/*padding: 60px 250px;
	padding-left: 320px;*/
	}
}

.titel__obratnaya_svyaz{
	color: #fff;

}

.titel__obratnaya_svyaz h4{
	font-size: 22px;
	/*padding: 120px 50px 30px 810px;*/
	padding: 0% 42%;
	color: #3f495a;
	text-transform: uppercase;
	color: #fff;}

.svyaaz1 {
	padding: 30%;
}
.titel__obratnaya_svyaz input{
	float: left;
	font-size: 20px;
	margin: 0% 1%;
	/*margin: 50px 300px 20px 300px;*/
}
.titel__obratnaya_svyaz textarea{
	font-size: 20px;
	margin: 1% 40%;
	/*margin-left: 700px;*/
}
.titel__obratnaya_svyaz button {
	color: #fff;
	height: 22px;
	text-align: center;
	border: 2px solid ;
	background: none;
	border-radius: 5px;
	font-size: 13px;
	padding: 0px 16px;
	margin: 10px 0px 82px 845px;}